{
    "evaluation" {
        "folds" 5
        "top-k" 10
    }
    "matchmaker" {
        "type" "rescal"
        "conv" 0.001
        "init" "nvecs"
        "rank" 50
        "regularization" {
            "lambdaA" 0
            "lambdaR" 0
            "lambdaV" 0
        }
    }
}
